@import "tailwindcss";

:root {
  --background: #081616;
  --foreground: #e1f1f4;
  --primary: #9bd3d9;
  --secondary: #2e3a76;
  --accent: #5046b9;
}

.light {
  --background: #e9f7f7;
  --foreground: #0b1b1e;
  --primary: #265e64;
  --secondary: #8995d1;
  --accent: #5046b9;
}

.dark {
  --background: #081616;
  --foreground: #e1f1f4;
  --primary: #9bd3d9;
  --secondary: #2e3a76;
  --accent: #5046b9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
